@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/easy-lemon-layer-cake-hero-e54adca.jpg" style="max-height: 400px" />
    <br />
    <br />
    <br />
    <p>Baking is fun because you can make different kinds of food and try new things.
        You can mix ingredients, put them in the oven, and see what happens. It’s a
        hands-on activity that gives you something tasty at the end.
        The smell of baking makes it even better.</p>
	<br />
    <img src="~/img/ultimatechocchipcookie.jpg" style="max-height: 400px"/>
	<br />
    <br />
    <br />
    <p>Baking is also a good way to spend time with others. You can share what you make
        with family and friends. It’s nice to bake for special events or just for fun.
        Even if something goes wrong, you still learn and enjoy the process.</p>
    <br />
    <br />
    <br />
</div>
