@*Lloyd Klippel*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baking Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Mission5.styles.css" asp-append-version="true" />
    @*This is my custom icon for the website. It's a cookie!*@
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body>
    <div class="container text-center">
        <br />
        <br />
        @*Main title that is shared across all pages*@
        <h1>Baking</h1>
        @*Brief shpiel that is shared across all pages*@
        <p>Welcome to my hooby! I like baking. Ever since I got married, I've been the baker of the family (mostly) and I've loved baking for my wife. This is to show a bit of the passion that I have for baking.</p> 
        <p>
            @*This is the navigation. It works for all pages. It uses the asp-controller and asp-action to direct it*@
            <a asp-controller="Home" asp-action="Index">Home</a> | <a asp-controller="Home" asp-action="Calculator">Tutor Costs</a>
        </p>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*Customized footer, with brief information on copyright year, who I am and what not to do.*@
    <footer class="border-top footer text-muted">
        <div class="container">
            <p>Copyright 2025, Lloyd Klippel, Proud BYU Student, Website Creator. DON'T STEAL MY STUFF!</p>
        </div>
    </footer>
    @*Imports all js scripts*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
